ul {
  padding-inline-start: 0;
  padding: 10px;
}

.list-item {
  border: 1px dotted black;
  padding: 10px;
  margin: 5px 0;
  list-style: none;
}

.form-section {
  display: flex;
  margin: 10px;
}

.form-item {
  margin-right: 10px;
}
